[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
deepdiff = "*"
ujson = "*"

[dev-packages]
types-ujson = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
